// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  background-image: url('russia_fundo08.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  margin-top: 20%;
}

